<div id="<%= dom_id session %>">
  <p>
    <strong>Title:</strong>
    <%= session.title %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= session.started_at %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= session.duration %>
  </p>

</div>
