<div id="<%= dom_id game_session %>">
  <p>
    <strong>Title:</strong>
    <%= game_session.title %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= game_session.started_at %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= game_session.duration %>
  </p>

</div>
