<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= player.balance %>
  </p>

  <%= button_to "Login as", action: :login, params: { player: player.name } unless cookies[:player]%>

</div>
