<div id="<%= dom_id player %>">
  <p>
    <span class="player-name">
      <%= player.name %>
    </span>
  </p>

  <p>
    <strong>Balance:</strong>
    <span class="player-balance">
      <%= player.balance %>
    </span>
  </p>

  <%= button_to "Login as", login_player_path(player), class: "btn-login" unless cookies[Constants::AUTH_COOKIE] %>
    
<!--  <p class="p-lnk">-->
    <%#= link_to "Show this player", player, class: 'lnk' %>
<!--  </p>-->
</div>
