<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= player.balance %>
  </p>

  <%= button_to "Login as", login_player_path(player) unless cookies[Constants::AUTH_COOKIE]%>
</div>
