<% content_for :title, "Editing player" %>

<h1 class="headline">Editing player</h1>

<%= render "form", player: @player %>

<br>

<div class="links">
  <%= link_to "Show this player", @player, class: "lnk-show" %> |
  <%= link_to "Back to players", players_path, class: "lnk-back" %>
</div>
