html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.scroll {
    width: 100vw;
    height: 90vh;
    overflow-y: scroll;
    margin-top: 20px;
}

.notice {
    color: green;
    text-decoration: underline;
    text-transform: uppercase;
}

.alert {
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
}
